@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 60% 94%;
    --foreground: 231 48% 20%;
    --card: 0 0% 100%;
    --card-foreground: 231 48% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 231 48% 20%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 231 60% 88%;
    --secondary-foreground: 231 48% 30%;
    --muted: 231 60% 88%;
    --muted-foreground: 231 48% 40%;
    --accent: 263 44% 58%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 48% 85%;
    --input: 231 48% 90%;
    --ring: 231 48% 48%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 231 30% 12%;
    --foreground: 231 30% 92%;
    --card: 231 30% 16%;
    --card-foreground: 231 30% 92%;
    --popover: 231 30% 12%;
    --popover-foreground: 231 30% 92%;
    --primary: 231 48% 60%;
    --primary-foreground: 231 48% 10%;
    --secondary: 231 30% 24%;
    --secondary-foreground: 231 30% 92%;
    --muted: 231 30% 24%;
    --muted-foreground: 231 30% 60%;
    --accent: 263 44% 68%;
    --accent-foreground: 263 44% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 30% 24%;
    --input: 231 30% 24%;
    --ring: 231 48% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
